
.content {
  background: url('./img/bg.png') no-repeat center center;
  background-size: cover;
}

.navbar-brand {
  padding: 0 15px;
  line-height: 50px;
}

  .navbar-brand > img {
    display: inline;
    vertical-align: top;
  }
